@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color:#f4f3ff;
    --btn-color:#646cff;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 

}
* {
    box-sizing: border-box;
}

.toastBody{
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}